<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.dal.cs.csci3130.fastmoney">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ca.dal.cs.csci3130.fastmoney.views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.RegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.ProfileActivity">
            <intent-filter>
                <action android:name="PROFILE" />
            </intent-filter>
        </activity>
        <activity android:name=".views.LandingPageActivity">
            <intent-filter>
                <action android:name="LANDING_PAGE" />
            </intent-filter>
        </activity>
        <activity android:name=".views.FindJobActivity">
            <intent-filter>
                <action android:name="FIND_JOB" />
            </intent-filter>
        </activity>
        <activity android:name=".views.PostJobActivity">
            <intent-filter>
                <action android:name="POST_JOB" />
            </intent-filter>
        </activity>
        <activity android:name=".views.JobActivity">
            <intent-filter>
                <action android:name="JOB" />
            </intent-filter>
        </activity>
        <activity android:name=".views.LogInActivity">
            <intent-filter>
                <action android:name="LOG_IN" />
            </intent-filter>
        </activity>
        <activity android:name=".views.WorkActivity">
            <intent-filter>
                <action android:name="WORK" />
            </intent-filter>
        </activity>
    </application>
</manifest>